*~
*.o
*.lo
*.la
.libs
.deps
.dirstamp
*.exe
*.pc
Makefile
Makefile.in
compile
*.so
.*.sw[po]
*.gcov
*.gcno
*.gcda
/aclocal.m4
/autom4te.cache/
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
tags
cscope.out
/config.cache
coverage
/ABOUT-NLS
/config.cache-env
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
enesim-*.tar.gz
enesim-*.tar.bz2
src/lib/color/enesim_color_blend_orc.c
src/lib/color/enesim_color_blend_orc_private.h
src/examples/enesim_image_example01
src/examples/enesim_image_example02
src/examples/enesim_renderer_background01
src/examples/enesim_renderer_blur01
src/examples/enesim_renderer_checker01
src/examples/enesim_renderer_circle01
src/examples/enesim_renderer_circle02
src/examples/enesim_renderer_gradient_linear01
src/examples/enesim_renderer_hints01
src/examples/enesim_renderer_image01
src/examples/enesim_renderer_map_quad01
src/examples/enesim_renderer_mask01
src/examples/enesim_renderer_mask02
src/examples/enesim_renderer_path01
src/examples/enesim_renderer_path02
src/examples/enesim_renderer_path03
src/examples/enesim_renderer_path04
src/examples/enesim_renderer_path05
src/examples/enesim_renderer_path06
src/examples/enesim_renderer_path07
src/examples/enesim_renderer_pattern01
src/examples/enesim_renderer_perlin01
src/examples/enesim_renderer_raddist01
src/examples/enesim_renderer_rectangle01
src/examples/enesim_renderer_text_span01

